<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">
<head>
    <title>Danh sách thành viên</title>
</head>

<body>
<section layout:fragment="content">
    <h3 class="mb-3">Danh sách khoá học</h3>
    <div class="row">
        <div class="col-md-8">
            <a th:href="@{/admin/course/add}" class="btn btn-primary">Thêm mới</a>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm...">
                <div class="input-group-append">
						<span class="input-group-text" id="basic-addon2"><i
                                class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover mt-3">
        <thead>
        <tr>
            <th>STT</th>
            <th>Title</th>
            <th>Letures</th>
            <th>Price</th>
            <th>Price promotion</th>
            <th>Last update</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course, state: ${courses}">
            <td th:text="${state.count}"></td>
            <td th:text="${course.title}"></td>
            <td th:text="${course.leturesCount}"></td>
            <td th:text="${#numbers.formatDecimal(course.price, 0, 'COMMA', 0, 'POINT') + ' VND'}"></td>
            <td th:text="${#numbers.formatDecimal(course.promotionPrice, 0, 'COMMA', 0, 'POINT') + ' VND'}"></td>
            <td th:text="${course.lastUpdate}"></td>
            <td>
                <a th:href="@{course/edit(id=${course.id})}" class="btn btn-sm btn-info">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
                <a th:href="@{course/delete(id=${course.id})}" class="btn btn-sm btn-danger del-btn">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>