<div id="tabVideo" xmlns:th="http://www.thymeleaf.org" th:fragment="tabVideo">
    <div class="row">
        <div class="col-md-8">
            <a class="btn btn-secondary" th:href="@{/admin/course}">Quay lại</a>
            <a th:href="@{/admin/course/video/add(courseId=${course.id})}" class="btn btn-primary">Thêm mới +</a>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm...">
                <div class="input-group-append">
						<span class="input-group-text" id="basic-addon2"><i
                                class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover mt-3">
        <thead>
        <tr>
            <th>STT</th>
            <th>Title</th>
            <th>URL</th>
            <th>Time (second)</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="video, state: ${videos.content}">
            <td th:text="${videos.size*(videos.number)+state.count}"></td>
            <td th:text="${video.title}"></td>
            <td th:text="${video.url}"></td>
            <td th:text="${video.timeCount}"></td>
            <td>
                <a th:href="@{video/edit(id=${video.id})}" class="btn btn-sm btn-info">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
                <a th:href="@{video/delete(id=${video.id},courseId=${course.id})}" class="btn btn-sm btn-danger del-btn">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination justify-content-center pagination-sm">
            <li class="page-item"
                th:classappend="${videos.number==0} ? disabled">
                <a class="page-link"
                   th:href="@{/admin/course/edit(id=${course.id},pageOfVideo=${videos.number})}"
                >Previous</a>
            </li>
            <li  th:if="${videos.totalPages > 0}" class="page-item"
                 th:each="pageNumber : ${pageNumbersOfVideo}"
                 th:classappend="${pageNumber==videos.number + 1} ? active">
                <a th:href="@{/admin/course/edit(id=${course.id},pageOfVideo=${pageNumber})}"
                   th:text=${pageNumber}
                   class="page-link"
                ></a>
            </li>
            <li class="page-item"
                th:classappend="${videos.number+1==videos.totalPages} ? disabled">
                <a class="page-link"
                   th:href="@{/admin/course/edit(id=${course.id},pageOfVideo=${videos.number+2})}"
                >Next</a>
            </li>
        </ul>
    </nav>
</div>