<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/default}">
<head>
<title>Danh sách quyền</title>
</head>

<body>
	<section layout:fragment="content">
		<h3 class="mb-3">Danh sách quyền</h3>
		<div class="row">
			<div class="col-md-8">
				<a th:href="@{/admin/role/add}" class="btn btn-primary">Thêm mới</a>
			</div>
			<div class="col-md-4">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Tìm kiếm...">
					<div class="input-group-append">
						<span class="input-group-text" id="basic-addon2"><i
							class="fa fa-search"></i></span>
					</div>
				</div>
			</div>
		</div>
		<table class="table table-bordered table-hover mt-3">
			<thead>
				<tr>
					<th>STT</th>
					<th>Tên Quyền</th>
					<th>Vai trò</th>
					<th>#</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="role, state: ${roles}">
					<td th:text="${state.count}"></td>
					<td th:text="${role.name}"></td>
					<td th:text="${role.description}"></td>
					<td>
						<a th:href="@{/admin/role/edit(id=${role.id})}" class="btn btn-sm btn-primary">Sửa</a>
						<a th:href="@{/admin/role/delete(id=${role.id})}" th:unless="${role.id == 1 OR role.id == 2 OR role.id == 3}" class="btn btn-sm btn-danger del-btn">Xóa</a></td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>